*
{
    background: ;
}

  /* icon prefix focus color */
  .input-field .prefix.active 
  {
    color: #00bcd4 ;
  }
  /* for checkbox */
  [type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after 
  {
    margin-left: 8px;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: rgb(245, 48, 169);
  }
       
  .mycontainer
  {
      width:96%;
      margin:auto;
  }

/* for button */
.btn {
    text-transform: none;
}
/* for fixed footere */
.myfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 9999;
 }
 p 
 {
   text-align: justify;
 }